= form_for [@project, @setting], html: { class: "form-horizontal m-t-2", role: "form" } do |f|

  - if @setting.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - @setting.errors.full_messages.each do |msg|
          %li= msg

  .form-group.row
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'

  %h3.m-b-2.m-t-3 Values:
  = f.fields_for :values do |builder|
    = builder.hidden_field :environment_id
    .form-group.row
      = builder.label :data, builder.object.environment.name, class: 'col-sm-2 control-label'
      .col-sm-10
        = builder.text_field :data, class: 'form-control'

  .form-group.row
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
