.btn-group
  = link_to new_project_setting_path(@project), class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-plus
    New setting


%h1.m-t-2  Listing settings

.table-responsive.m-t-2
  %table.table.table-striped.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th Name
        %th
        %th
        %th

    %tbody
      - @settings.each do |setting|
        %tr
          %td= setting.name
          %td= link_to 'Show', [@project, setting]
          %td= link_to 'Edit', edit_project_setting_path(@project, setting)
          %td= link_to 'Destroy', [@project, setting], :method => :delete, :data => { :confirm => 'Are you sure?' }
