.btn-group
  = link_to project_path(@project), class: :'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-list-alt
    Back to #{@project.name}
  = link_to edit_project_setting_path(@project, @setting), class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-pencil
    Edit

%h1.m-t-2
  %code= @setting.name

.container
  %dl.dl-horizontal.m-t-2
    - @setting.values.each do |value|
      %dt.col-sm-2=  value.environment.name
      %dd.col-sm-10
        %code= value.data
        - if value.versions.size > 0
          %small= link_to "(versions: #{value.versions.size})", versions_project_setting_path(@project, value.setting, value)
