.btn-group
  = link_to project_setting_path(@project, @setting), class: :'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-list-alt
    Back to
    %code= @setting.name

%h1.m-t-2 Versions history
%h3
  = @value.environment.name
  %span.glyphicon.glyphicon-chevron-right
  %code= @setting.name


.table-responsive.m-t-2
  %table.table.table-striped.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th Version
        %th Date
        %th Value
        %th

    %tbody
      %tr
        %td Current
        %td= @value.updated_at
        %td
          %code= @value.data
        %td

      - @versions.each do |version|
        %tr
          %td= version.index
          %td= version.created_at
          %td
            %code=version.reify.data
          %td= link_to 'Revert', versions_revert_project_setting_path(@project, @value.setting, @value, version.id), :method => :put, :data => { :confirm => 'Are you sure?' }

