.btn-group
  = link_to new_setting_path, class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-plus
    New project


%h1.m-t-2  Listing projects

.table-responsive.m-t-2
  %table.table.table-striped.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th Name
        %th
        %th
        %th

    %tbody
      - @projects.each do |project|
        %tr
          %td= project.name
          %td= link_to 'Show', project
          %td= link_to 'Edit', edit_project_path(project)
          %td= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }

