.btn-group
  = link_to projects_path, class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_project_path(@project), class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-pencil
    Edit
  = link_to project_environments_path(@project), class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-folder-open
    Environments
  = link_to new_project_environment_path(@project), class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-plus
    New environment
  = link_to new_project_setting_path(@project), class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-plus
    New setting

%h1.m-t-2= @project.name
