.btn-group
  = link_to projects_path, class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-list-alt
    Projects
  = link_to edit_project_path(@project), class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-pencil
    Edit
  = link_to project_environments_path(@project), class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-folder-open
    Environments
  = link_to new_project_environment_path(@project), class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-plus
    New environment

%h1.m-t-2= @project.name

.btn-group.m-t-2
  = link_to new_project_setting_path(@project), class: 'btn btn-primary btn-sm' do
    %span.glyphicon.glyphicon-plus
    New setting

.table-responsive.m-t-1
  %table.table.table-striped.table-bordered.table-hover.table-sm
    %thead
      %tr
        %th Name
        %th
        %th

    %tbody
      - @project.settings.each do |setting|
        %tr
          %td= link_to setting.name, [@project, setting]
          %td= link_to 'Edit', edit_project_setting_path(@project, setting)
          %td= link_to 'Destroy', [@project, setting], :method => :delete, :data => { :confirm => 'Are you sure?' }
