.btn-group
  = link_to project_path(@project), class: :'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-list-alt
    Back to #{@project.name}
  = link_to project_environments_path(@project), class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-folder-open
    Environments
  = link_to project_environment_path(@project, @environment), class: 'btn btn-secondary btn-sm' do
    %span.glyphicon.glyphicon-info-sign
    Show

%h1.m-t-2 Editing project

= render 'form'
